

    <p class="panel-heading">
        Users
        </p>
        <div class="panel-block" *ngIf="users.length>0; else noUserMessage">
            <table class="table table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>User Name</th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of users">
                        <td>{{ user.name }}</td>
                        <td>{{ user.userName }}</td>
                        <td appHighlighter>{{ user.email }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <ng-template #noUserMessage>
            <p class="message-body">no users are available.</p>
        </ng-template> 
    
    
    